<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="dark">
    <ion-card-content class="contenido">
        <hr>Vista Login
    </ion-card-content>
  </ion-card>

  <ion-button class="botonDos" color="dark" [routerLink]="['/ingreso-agora']">Historial</ion-button>
  <ion-button class="botonDos" color="dark" (click)="crearQR()">Crar Agora</ion-button>

  <ion-button class="cerrarSesion" color="dark" (click)="salir()">Cerrar Sesion</ion-button>
</ion-content>
